* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    background-color: #202938;
    gap: 30px;
}

.header h2 {
    margin-right: auto;
}

.header > *, .main-container > *{
    color: white;
    text-decoration: none;
}

.header, .main-container, .quote-container {
    padding: 10px 200px
}

.main-container{
    display: flex;
    background-color: #202938;
    padding: 100px 200px;
}

.main-container h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main-container button{
    background-color: #3b82f6;
    color: white;
    padding: 5px 25px;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
}

.main-left-side > *{
    margin: 5px 10px ;
}

.main-container > img {
    width: 50%;
    height: 50%;
}

.white-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin: 30px 300px;
    gap: 40px;
    text-align: center;
    padding-bottom: 30px;
}

.cards > img {
    width: 200px;
    border-radius: 20px;
}

.quote-container {
    display: flex;
    background-color: #e5e7ea;
    padding: 200px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}
.author {
    color: black;
}
